<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <ol>
        <li th:each="bookmark : ${bookmarks}"
            th:text="${bookmark.getId().toString()} + '-' + ${bookmark.getUrl()}" />
    </ol>
    <p>
    page: <span th:text="${pageNumber}" /> / <span th:text="${pageAvailable}" />
    <a th:if="${pageNumber-1}>0" th:href="'?pageNumber=' + ${pageNumber-1}">Prev</a>
    &nbsp; 
    <a th:unless="${isLastPage}" th:href="'?pageNumber=' + ${pageNumber+1}">Next</a>
    </p>
    
</body>
</html>